p{
  font-family: "Libre Baskerville";
}
#twitter{
  width: 50px;
}
#instagram{
  width: 50px;
}
#facebook{
  width: 40px;
  position: relative;
  left: -5px;
  padding-left: 10px;
}
.titles{
  font-size: 20px;
}
.socialmedia{
  display: inline-block;
}
.info{
  margin-left: 10px;
  display: inline-block;
  position: relative;
}
#twitterinfo{
  top: -15px;
}
#instagraminfo{
  top: -20px;
}
#facebookinfo{
  top: -15px;
}
#maillink{
  color: blue;
}
