#covidcontainer{
  width: 100%;
  height: fit-content;
}
#coviddatacontainer{
  overflow: hidden;
  width: 100%;
  height: 800px;
}
#coviddata{
  position: relative;
  top: -60px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#datacredit{
  font-family: "Libre Baskerville";
  font-size: 15px;
  color: #5E5F6B;
  margin-left: 10px;
}
#datacredita{
  color: #5E5F6B;
}
