#titlecontainer{
  height: fit-content;
}
#electionslisttitle{
  font-size: 18px;
}
#registercontainer{
  width: 380px;
}
#registerimgcontainer{
  width: 100px;
  display: inline-block;
}
#registerimg{
  width: 100%;
}
#registerlink{
  text-decoration: none;
}
#registertovote{
  float: right;
  color: #000000;
  font-size: 18px;
}
#littlelink{
  color: blue;
}
#financeinfo{
  font-size: 20px;
}
#mapinfo{
  font-size: 20px;
}
#resultlink{
  text-decoration: none;
  color: #000000;
}
#resulttitle{
  font-family: "Rubik";
  font-size: 35px;
}
#resultcontainer{
  border-top: 3px double #BDBFC9;
  border-bottom: 3px double #BDBFC9;
}
