@media only screen and (max-width: 400px){
  #brokenlinkform{
    width: 100vw;
  }
}
@media only screen and (min-width: 401px){
  #brokenlinkform{
    width: 100%;
  }
}
@media only screen and (max-width: 600px){
  #oopscontainer{
    width: 100%;
  }
  #brokenlinkform{
    height: calc(1000px - 50vw);
  }
}
@media only screen and (min-width: 601px){
  #oopscontainer{
    width: 50%;
  }
  #brokenlinkform{
    min-height: 800px;
    height: calc(1600px - 50vw);
  }
}
#oopscontainer{
  margin: auto;
}
#oops{
  font-family: "Rubik";
  font-size: 50px;
  text-align: center;
}
#oopslink{
  text-decoration: none;
  text-align: center;
}
#oopshome{
  font-family: "Libre Baskerville";
  color: #000000;
}
#brokenlink{
  margin: auto;
  text-align: center;
}
#brokenlinkinfo{
  font-family: "Libre Baskerville";
  color: #000000;
  cursor: pointer;
}
