@media only screen and (max-width: 667px){
  #datecontainer{
    margin-left: 0px;
  }
  #socialmediacontainer{
    width: 90px;
    position: relative;
    top: -80px;
  }
  #twittercontainer{
    margin: auto;
    display: block;
  }
  #instagramcontainer{
    float: left;
    margin: 0;
  }
  #facebookcontainer{
    float: right;
    margin: 0;
  }
  #searchcontainer{
    right: 120px;
    position: absolute;
    top: 100px;
  }
  .sectioncontainers{
    display:inline-flex;
  }
  .standardimg{
    width: 80%;
  }
  .smallimg{
    width: 40%;
  }
  .storyimgcontainer{
    margin: auto;
  }
  .storytextcontainer{
    width: 100%;
  }
  #leftpanel{
    width: 100%;
  }
  #rightpanel{
    width: 100%;
  }
  #ballotproposalscontainer{
    width: 100%;
  }
}
@media only screen and (min-width: 668px){
  #datecontainer{
    margin-left: 10px;
  }
  #socialmediacontainer{
    width: fit-content;
    margin-right: 10px;
    position: relative;
    top: -40px;
  }
  #searchcontainer{
    position: absolute;
    top: 100px;
    right: 180px;
  }
  .standardimg{
    width: 40%;
  }
  .standardtext{
    width: 60%;
  }
  .smallimg{
    width: 30%;
  }
  .smalltext{
    width: 70%;
  }
  #leftpanel .storyimgcontainer{
    float: left;
  }
  #leftpanel{
    width: 55%;
    float: left;
  }
  #rightpanel{
    width: 43%;
    float: right;
    border-left: 3px double #BDBFC9;
  }
  #ballotproposalscontainer{
    width: 67%;
    float: left;
  }
  #schoolboardscontainer{
    width: 32%;
    float: right;
    border-left: 3px double #BDBFC9;
  }
  #luntaoconflictimgcontainer{
    width: 30%;
  }
  #luntaoconflicttextcontainer{
    width: 70%;
  }
  #sjcourtreopensimgcontainer{
    width: 30%;
  }
  #sjcourtreopenstextcontainer{
    width: 70%;
  }
}
@media only screen and (max-width: 419px){
  #searchcontainer{
    top: 140px;
  }
}
@media only screen and (max-width: 360px){
  #searchcontainer{
    right: 100px;
  }
}
@media only screen and (max-width: 511px){
  .sectioncontainers{
    display: block;
    margin: auto;
    width: fit-content;
  }
}
@media only screen and (min-width: 512px){
  .sectioncontainers{
    display: inline-block;
  }
  .sectioncontainers{
    position: relative;
    left: 10%;
  }
}
@media only screen and (min-width: 601px){
  #midcontent .storycontainer{
    display: inline-block;
    width: calc((100vw - 51px)/3);
    max-width: 383px;
    margin-bottom: 20px;
  }
  #midcontent .storycontainer:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
    border-left: 3px double #BDBFC9;
    border-right: 3px double #BDBFC9;
  }
  #midcontent .standardimg{
    width: 60%;
  }
  #midcontent .smallimg{
    width: 30%;
  }
  #midcontent .storycontainer:before{
    width: 0;
  }
  #rightpanel:after{
      content: "";
      display: block;
      margin: 0 auto;
      width: 95%;
      padding-top: 20px;
      margin-left: 20px;
      border-bottom: 3px double #BDBFC9;
  }
}
@media only screen and (min-width: 420px) and (max-width: 624px){
  #searchcontainer{
    top: 120px;
    right: 110px;
  }
}
@media only screen and (min-width: 668px) and (max-width: 720px){
  #covidnavcontainer{
    position: relative;
    left: 0%;
  }
  #contactnavcontainer{
    position: relative;
    left: 0%;
  }
}
@media only screen and (min-width: 721px) and (max-width: 904px){
  #contactnavcontainer{
    position: relative;
    left: 0%;
  }
}
@media only screen and (max-width: 869px){
  #formcontainer1{
    display: none;
  }
  #formcontainer2{
    display: block;
  }
}
@media only screen and (min-width: 1216px){
  #searchcontainer{
    position: absolute;
    top: 100px;
    right: calc(50vw - 425px);
  }
}
#content{
  max-width: 1200px;
  margin: auto;
  height: fit-content;
}
a{
  text-decoration: none;
}
.headline{
  font-family: "Rubik";
  font-weight: bold;
  margin-bottom: 5px;
}
.articledate{
  text-align: center;
  width: 100%;
  color: #000000;
  font-family: "Libre Baskerville";
  margin-top: 0px;
}
#header{
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  border-bottom: 10px groove #8091A6;
}
#datecontainer{
  width: fit-content;
  max-width: 34%;
  text-align: center;
  position: relative;
  top: 95px;
}
#date{
  font-family: "Libre Baskerville"
}
#logocontainer{
  width: 100px;
  max-width: 30%;
  margin: auto;
}
#logo{
  width: 100px;
}
#socialmediacontainer{
  float: right;
}
.socialimgcontainer{
  width: 40px;
  display: inline-block;
  margin-right: 7px;
}
.socialmedia{
  width: 100%;
}
#sections{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  text-align: center;
}
.section{
  font-size: 20px;
  font-family: "Libre Baskerville";
  color: #000000;
  padding: 0px 15px 0px 15px;
}
#leftpanel{
  height: fit-content;
  padding-right: 10px;
  margin-bottom: 10px;
}
#leftpanel:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 99%;
    padding-top: 10px;
    border-bottom: 3px double #BDBFC9;
}
#rightpanel{
  height: fit-content;
}
#mainstorycontainer{
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}
#mainstoryimgcontainer{
  margin: auto;
  width: 60%;
}
#mainstoryimg{
  width: 100%;
}
#mainstoryheadline{
  color: #000000;
  font-size: 27px;
  text-align: center;
}
.sectiontitle{
  font-size: 35px;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
#covidcontainer{
  width: 100%;
  height: fit-content;
}
#coviddatacontainer{
  overflow: hidden;
}
#coviddata{
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 780px;
  height: 777px;
  position: relative;
  left: -280px;
  top: -70px;
}
#datacredit{
  font-family: "Libre Baskerville";
  font-size: 15px;
  color: #5E5F6B;
  margin-left: 10px;
}
#datacredita{
  color: #5E5F6B;
}
.storycontainer{
  width: 100%;
}
.storycontainer:before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
.littlestory{
  width: 49%;
  display: inline-block;
}
.schoolstory{
  width: 100%;
  display: inline-block;
}
.storyimgcontainer{
  height: fit-content;
}
.storyimg{
  width: 100%;
}
.storytextcontainer{
  text-align: center;
  float: right;
}
.storyheadline{
  font-size: 20px;
  color: #000000;
}
#midcontent{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#midcontent:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
#midcontent .storyimgcontainer{
  margin: auto;
}
#midcontent .storytextcontainer{
  width: 100%;
  text-align: center;
  margin: auto;
  float: none;
}
#midcontent .articledate{
  text-align: center;
}
#belowcontent{
  display: inline-block;
  width: 100%;
}
#headerrightcontainer{
  display: inline-block;
  float: right;
}
#searchcontainer{
  width: fit-content;
  display: inline-block;
}
#searchimgcontainer{
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 5px;
}
#searchimg{
  width: 100%;
}
#formcontainer1{
  width: calc(15vw + 50px);
  display: none;
}
#formcontainer2{
  display: none;
  width: fit-content;
  height: 30px;
  margin: auto;
  margin-top: 10px;
}
#searchbox1{
  height: 20px;
  width: 15vw;
  float: left;
  border: 0;
  border-bottom: 2px double #20124d;
}
#searchbox1:focus{
  outline-width: 0;
}
#searchbutton2{
  margin-left: 20px;
}
#searchbox2{
  height: 20px;
  width: 40vw;
  float: left;
  border: 0;
  border-bottom: 2px double #20124d;
}
#searchbox2:focus{
  outline-width: 0;
}
.searchbutton{
  width: fit-content;
  height: 30px;
  border: 0;
  cursor: pointer;
  float: right;
  background-color: #20124d;
  color: #FFFFFF;
  font-family: "Rubik";
  border-radius: 8px;
  position: relative;
  right: 10px;
  bottom: 2px;
}
#financecontainer:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-bottom: 3px double #BDBFC9;
  margin-bottom: 10px;
}
#financelink{
  text-decoration: none;
  color: #000000;
}
#financeinfo{
  font-family: "Rubik";
  font-size: 25px;
  margin: auto;
  text-align: center;
  color: #000000;
}
#moreinfo{
  font-family: "Libre Baskerville";
  font-size: 16px;
  margin: auto;
  text-align: center;
  color: #000000;
}
