/*----------------------------------------------------------------------------
	main.css

	this css-file contains all definitions, that are independend from the
	colorschemes.

	(c) Schlund + Partner AG

	This CSS-File uses the original "Tanteks Box Modell Hack"
	http://www.tantek.com/CSS/Examples/boxmodelhack.html

	NOTE:
	Older W3C CSS validators return errors when the voice-family property
	is used in a 'screen' style sheet. This is an error in the W3C CSS
	validator itself. The validator should report a warning, not an error,
	when properties which are unsupported by a particular medium are used,
	and this has been reported to the W3C:

 ----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
 styles for specific classes and ids
----------------------------------------------------------------------------*/

body#main_body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*-- global container ------------------------------------------------------*/

#container {
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    width: 865px;
}

#header {
    padding: 0;
    margin: 0;
    width: 865px;
    /*height: 123px;*/
}

#main_container {
    padding: 0px;
    margin: 0px;
}

#layout_table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

#sub_nav_column {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#content_column {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#left_column_container {
    margin: 0;
    padding: 0;
    width: 200px;
}

#sub_container1 {
    margin: 0;
    padding: 0;
}

#sub_container2 {
    margin: 0;
    padding: 0;
    width: 650px;
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
}

#content_container {
    overflow: hidden;
    margin: 15px 0px 0px 0px;
    padding: 0px 20px 20px 0px;
}

/*--- key visual -----------------------------------------------------------*/

#key_visual {
    width: 855px;
    height: 80px;
    /* rev2 position: absolute;*/
    top: 0px;
    /* rev2 left: 5px;*/
    margin-left:5px;
}

/*--- slogan (as text or background image) ---------------------------------*/

#slogan {
    padding: 0px 0px 0px 15px;
    margin: 2px 0px 5px 0px;
    voice-family: "\"}\"";
    voice-family: inherit;
    overflow: hidden;
    width: 250px;
    position: absolute;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    width: 171px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 689px;
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 6px;
    overflow: hidden;
    line-height: 0;
    width: 865px;
    /*height: 27px;*/

    voice-family: "\"}\"";
    voice-family: inherit;
    /*position: absolute;*/

    z-index: 1;
    /* rev2 position: relative;*/
    /* top: 80px;*/
}

#main_nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main_nav_list li {
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 0;
}

/*--- main navigation items ------------------------------------------------*/

#main_nav_list a {
    overflow: hidden;
    margin: 0;
    padding: 0px 10px 0px 10px;
    display: block;
    float: left;
    width: 100px;
    line-height: 27px;
    text-align: center;
    height: 27px;
    voice-family: "\"}\"";
    voice-family: inherit;
}

/*--- container for the subnavigation --------------------------------------*/

.sub_nav_container {
    margin: 15px 0px 20px 0px;
    padding: 0 0 10px 10px;
    float: left;
}

/*--- subnavigation --------------------------------------------------------*/

.sub_nav_list {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sub_nav_list li {
    clear: both;
    margin: 0px 0 0px 0;
    padding: 0;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_list a {
    overflow: hidden;
    text-align: center;
    line-height: 18px;
    height: 19px;
    padding: 0 6px 0 6px;
    display: block;
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 134px;
}

html>body .sub_nav_list a {
    width: 134px;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    margin: 0;
    padding: 0;
    width: 865px;
    height: 42px;
    clear: both;
    overflow: hidden;
}

#footer_text {
    text-align: right;
    padding: 10px 20px 10px 20px;
    margin: 0;
    text-align: center;
}

/*----------------------------------------------------------------------------
  default-styles for .content html-elements
----------------------------------------------------------------------------*/

/*--- paragraph ------------------------------------------------------------*/

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.content table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0px 1px 0px 1px;
}

.content select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.content input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.content textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content th {
    padding: 3px 2px 3px 2px;
}

.content tr.odd {
    padding: 3px 2px 3px 2px;
}

.content tr.even {
    padding: 3px 2px 3px 2px;
}

/*--- forms ----------------------------------------------------------------*/

.content legend {
    font-size: 14px;
    font-weight: bold;
}

.content fieldset {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}

/*--- lists ----------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/
/*----------- Previus/Next Buttons for search results  -------------------*/
#_shop_itemsearch_resultPrevious, #_shop_itemsearch_resultNext
{
  color: #999999;
}
/*----------- End Previus/Next Buttons for search results -------------------*/


