#titlecontainer{
  height: 250px;
}
#electionslisttitle{
  font-size: 18px;
}
#registercontainer{
  width: 380px;
}
#registerimgcontainer{
  width: 100px;
  display: inline-block;
}
#registerimg{
  width: 100%;
}
#registerlink{
  text-decoration: none;
}
#registertovote{
  float: right;
  color: #000000;
  font-size: 18px;
}
