@media only screen and (max-width: 667px){
  #datecontainer{
    margin-left: 0px;
  }
  #socialmediacontainer{
    width: 90px;
    position: relative;
    top: -80px;
  }
  #twittercontainer{
    margin: auto;
    display: block;
  }
  #instagramcontainer{
    float: left;
    margin: 0;
  }
  #facebookcontainer{
    float: right;
    margin: 0;
  }
  #navcontainer{
    position:relative;
    left: 10%;
  }
  .sectioncontainers{
    display:inline-flex;
  }
  .storyimgcontainer{
    width: 100%;
  }
  .storytextcontainer{
    width: 100%;
  }
  #leftpanel{
    width: 100%;
  }
  #rightpanel{
    width: 100%;
  }
  #ballotproposalscontainer{
    width: 100%;
  }
}
@media only screen and (min-width: 668px){
  #datecontainer{
    margin-left: 10px;
  }
  #socialmediacontainer{
    width: fit-content;
    margin-right: 10px;
    position: relative;
    top: -40px;
  }
  .standardimg{
    width: 40%;
  }
  .standardtext{
    width: 60%;
  }
  .smallimg{
    width: 30%;
  }
  .smalltext{
    width: 70%;
  }
  #leftpanel{
    width: 55%;
    float: left;
  }
  #rightpanel{
    width: 43%;
    float: right;
  }
  #ballotproposalscontainer{
    width: 67%;
    float: left;
  }
  #schoolboardscontainer{
    width: 32%;
    float: right;
    border-left: 3px double #BDBFC9;
  }
  #luntaoconflictimgcontainer{
    width: 30%;
  }
  #luntaoconflicttextcontainer{
    width: 70%;
  }
  #sjcourtreopensimgcontainer{
    width: 30%;
  }
  #sjcourtreopenstextcontainer{
    width: 70%;
  }
}
@media only screen and (max-width: 388px){
  #sections{
    height: 75px;
  }
  #latestnavcontainer{
    position: relative;
    right: 20%;
  }
  #electionsnavcontainer{
    position: relative;
    bottom: 24.8px;
    left: 25%;
  }
  #policynavcontainer{
    position: relative;
    bottom: 24.8px;
    right: 15%;
  }
  #covidnavcontainer{
    position: absolute;
    top: 24.8px;
    right: 20%;
  }
  #contactnavcontainer{
    position: relative;
    bottom: 24.8px;
    right: 6%;
  }
}
@media only screen and (min-width: 511px) and (max-width: 667px){
  #sections{
    height: 50px;
  }
}
@media only screen and (min-width: 668px) and (max-width: 884px){
  #latestnavcontainer{
    position: relative;
    left: 10%;
  }
  #electionsnavcontainer{
    position: relative;
    left: 10%;
  }
  #policynavcontainer{
    position: relative;
    left: 10%;
  }
}
@media only screen and (min-width: 721px) and (max-width: 884px){
  #covidnavcontainer{
    position: relative;
    left: 10%;
  }
}
@media only screen and (min-width: 885px) and (max-width: 1063px){
  #latestnavcontainer{
    position: relative;
    left: 5%;
  }
  #electionsnavcontainer{
    position: relative;
    left: 5%;
  }
  #policynavcontainer{
    position: relative;
    left: 5%;
  }
  #covidnavcontainer{
    position: relative;
    left: 5%;
  }
}
#content{
  max-width: 1200px;
  margin: auto;
  height: fit-content;
}
a{
  text-decoration: none;
}
.headline{
  font-family: "Rubik";
  font-weight: bold;
  margin-bottom: 5px;
}
.articledate{
  text-align: center;
  width: 100%;
  color: #000000;
  font-family: "Libre Baskerville";
  margin-top: 0px;
}
#header{
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  border-bottom: 10px groove #8091A6;
}
#datecontainer{
  width: fit-content;
  max-width: 34%;
  text-align: center;
  position: relative;
  top: 95px;
}
#date{
  font-family: "Libre Baskerville"
}
#logocontainer{
  width: 100px;
  max-width: 30%;
  margin: auto;
}
#logo{
  width: 100px;
}
#socialmediacontainer{
  float: right;
}
.socialimgcontainer{
  width: 40px;
  display: inline-block;
  margin-right: 7px;
}
.socialmedia{
  width: 100%;
}
#sections{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  text-align: center;
}
#navcontainer{
  width: fit-content;
  margin: auto;
}
.sectioncontainers{
  display: inline-block;
}
.section{
  font-size: 20px;
  font-family: "Libre Baskerville";
  color: #000000;
  padding: 0px 15px 0px 15px;
}
#leftpanel{
  height: fit-content;
  padding-right: 10px;
  border-right: 3px double #BDBFC9;
  margin-bottom: 10px;
}
#leftpanel:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 99%;
    padding-top: 10px;
    border-bottom: 3px double #BDBFC9;
}
#rightpanel{
  height: fit-content;
}
#rightpanel:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 99%;
    padding-top: 10px;
    border-bottom: 3px double #BDBFC9;
}
#mainstorycontainer{
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}
#mainstoryimgcontainer{
  margin: auto;
  width: 100%;
}
#mainstoryimg{
  width: 100%;
}
#mainstoryheadline{
  color: #000000;
  font-size: 27px;
  text-align: center;
}
.sectiontitle{
  font-size: 35px;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
#covidcontainer{
  width: 100%;
  height: fit-content;
}
#coviddatacontainer{
  overflow: hidden;
}
#coviddata{
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 780px;
  height: 777px;
  position: relative;
  left: -280px;
  top: -70px;
}
#datacredit{
  font-family: "Libre Baskerville";
  font-size: 15px;
  color: #5E5F6B;
  margin-left: 10px;
}
#datacredita{
  color: #5E5F6B;
}
.storycontainer{
  width: 100%;
}
.storycontainer:before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
.littlestory{
  width: 49%;
  display: inline-block;
}
.schoolstory{
  width: 100%;
  display: inline-block;
}
.storyimgcontainer{
  height: fit-content;
  margin: 0;
  float: left;
}
.storyimg{
  width: 100%;
}
.storytextcontainer{
  float: right;
  text-align: center;
}
.storyheadline{
  font-size: 20px;
  color: #000000;
}
#belowcontent{
  display: inline-block;
  width: 100%;
}
#tracycannabiscontainer{
  margin: auto;
}
