@media only screen and (max-width: 667px){
  #datecontainer{
    margin-left: 0px;
  }
  #socialmediacontainer{
    width: 90px;
    position: relative;
    top: -80px;
  }
  #twittercontainer{
    margin: auto;
    display: block;
  }
  #instagramcontainer{
    float: left;
    margin: 0;
  }
  #facebookcontainer{
    float: right;
    margin: 0;
  }
  .storyimgcontainer{
    width: 100%;
  }
  .storytextcontainer{
    width: 100%;
  }
  #leftpanel{
    width: 100%;
  }
  #rightpanel{
    width: 100%;
  }
}
@media only screen and (min-width: 668px){
  #datecontainer{
    margin-left: 10px;
  }
  #socialmediacontainer{
    width: fit-content;
    margin-right: 10px;
    position: relative;
    top: -40px;
  }
  .standardimg{
    width: 40%;
  }
  .standardtext{
    width: 60%;
  }
  .standardcontainer{
    height: 250px;
  }
  #leftpanel{
    width: 55%;
    float: left;
  }
  #rightpanel{
    width: 43%;
    float: right;
  }
  #lusdcandsimgcontainer{
    width: 30%;
  }
  #lusdcandstextcontainer{
    width: 70%;
  }
  #musdcandidatesimgcontainer{
    width: 25%;
  }
  #musdcandidatestextcontainer{
    width: 75%;
  }
  #luntaoconflictimgcontainer{
    width: 30%;
  }
  #luntaoconflicttextcontainer{
    width: 70%;
  }
  #sjcourtreopensimgcontainer{
    width: 30%;
  }
  #sjcourtreopenstextcontainer{
    width: 70%;
  }
  #sjcourtreopenscontainer{
    height: 200px;
  }
}
@media only screen and (max-width: 390px){

}
#content{
  max-width: 1200px;
  margin: auto;
  height: fit-content;
}
a{
  text-decoration: none;
}
.headline{
  font-family: "Rubik";
  font-weight: bold;
  margin-bottom: 5px;
}
.articledate{
  text-align: center;
  width: 100%;
  color: #000000;
  font-family: "Libre Baskerville";
  margin-top: 0px;
}
#header{
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  border-bottom: 10px groove #8091A6;
}
#datecontainer{
  width: fit-content;
  max-width: 34%;
  text-align: center;
  position: relative;
  top: 95px;
}
#date{
  font-family: "Libre Baskerville"
}
#logocontainer{
  width: 100px;
  max-width: 30%;
  margin: auto;
}
#logo{
  width: 100px;
}
#socialmediacontainer{
  float: right;
}
.socialimgcontainer{
  width: 40px;
  display: inline-block;
  margin-right: 7px;
}
.socialmedia{
  width: 100%;
}
#sections{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  text-align: center;
}
#navcontainer{
  width: fit-content;
  margin: auto;
}
.sectioncontainers{
  display: inline-block;
}
.section{
  font-size: 20px;
  font-family: "Libre Baskerville";
  color: #000000;
  padding: 0px 15px 0px 15px;
}
#leftpanel{
  height: fit-content;
  padding-right: 10px;
  border-right: 3px double #BDBFC9;
  margin-bottom: 10px;
}
#rightpanel{
  height: fit-content;
}
#mainstorycontainer{
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}
#mainstoryimgcontainer{
  margin: auto;
  width: 30%;
}
#mainstoryimg{
  width: 100%;
}
#mainstoryheadline{
  color: #000000;
  font-size: 27px;
  text-align: center;
}
.storycontainer:before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
.sectiontitle{
  font-size: 20px;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
}
#covidcontainer{
  width: 100%;
  height: 800px;
}
#coviddatacontainer{
  height: 100%;
  overflow: hidden;
  height: 700px;
}
#coviddata{
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
  width: 780px;
  height: 777px;
  position: relative;
  left: -280px;
  top: -70px;
}
#datacredit{
  font-family: "Libre Baskerville";
  font-size: 15px;
  color: #5E5F6B;
  margin-left: 10px;
}
#datacredita{
  color: #5E5F6B;
}
.storycontainer{
  width: 100%;
}
.storycontainer:before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
.smallstory{
  height: 200px;
}
.storyimgcontainer{
  height: fit-content;
  margin: 0;
  float: left;
}
.storyimg{
  width: 100%;
}
.storytextcontainer{
  float: right;
  text-align: center;
}
.storyheadline{
  font-size: 20px;
  color: #000000;
}
