#titlecontainer{
  width: 100%;
  border-bottom: 2px solid #BDBFC9;
}
#title{
  margin: 15px 0px 15px 10px;
  font-family: "Rubik";
  font-size: 50px;
}
a{
  text-decoration: none;
  color: #000000;
}
p{
  font-family: "Libre Baskerville";
}
.headline{
  font-family: "Rubik";
  font-weight: bold;
  font-size: 30px;
}
.storycontainer{
  width: 100%;
}
.storycontainer:before{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
.storyimgcontainer{
  height: fit-content;
  margin: 0;
  float: left;
}
.storyimg{
  width: 100%;
}
.storytextcontainer{
  float: right;
  text-align: center;
}
.articledate{
  font-size: 20px;
}
.standardimg{
  width: 30%;
}
.standardtext{
  width: 70%;
}
.standardcontainer{
  height: 180px;
}
#sanjoaquincannabisimgcontainer{
  width: 25%;
}
#sanjoaquincannabistextcontainer{
  width: 75%;
}
#tracycannabiscontainer{
  height: 210px;
}
#mantecasalestaximgcontainer{
  width: 20%;
}
#mantecasalestaxtextcontainer{
  width: 80%;
}
#mantecasalestaxcontainer{
  height: 210px;
}
#stocktondacontainer{
  height: 200px;
}
#stocktondaimgcontainer{
  width: 15%;
}
#stocktondatextcontainer{
  width: 85%;
}
#stocktonfirecontainer{
  height: 150px;
}
