#title{
  font-family: "Rubik";
  font-size: 50px;
  margin-top: 10px;
}
#registercontainer{
  width: 380px;
}
#registerimgcontainer{
  width: 100px;
  display: inline-block;
}
#registerimg{
  width: 100%;
}
#registerlink{
  text-decoration: none;
}
#registertovote{
  float: right;
  color: #000000;
  font-size: 18px;
  font-family: "Libre Baskerville";
}
#info{
  display: inline-block;
  font-family: "Libre Baskerville";
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#bolded{
  display: inline-block;
  font-weight: bold;
  font-family: "Libre Baskerville";
  font-size: 20px;
}
#mapcontainer{
  margin: auto;
  width: 100%;
  height: 50vw;
  min-height: 500px;
}
#map{
  width: 100%;
  height: 100%;
  border: 0;
}
.locationstitle{
  font-family: "Rubik";
  font-size: 20px;
}
.site{
  font-family: "Libre Baskerville";
  font-size: 16px;
}
.keyinfo{
  font-family: "Libre Baskerville";
  font-size: 18px;
}
