#map{
  height: 500px;
  z-index: 1;
}
#title{
  font-family: "Rubik";
}
.leaflet-popup-content p{
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: "Libre Baskerville";
  font-size: 13px;
}
.leaflet-popup-content .district{
  font-family: "Rubik";
  font-weight: bold;
  font-size: 17px;
}
