body{
  background-color:#6B3332;
}
#imgheadercontainer{
  text-align: center;
}
#navcontainer{
  background: url(../images/navbackground.png);
  width: 743px;
  margin: auto;
}
.nav{
  display: inline-block;
  width:120px;
  height: 20px;
  background: url(../images/nav.gif);
  font-family: Tahoma,Verdana,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  color: #E4DFCF;
}
.nav:hover{
  background: url(../images/navhover.gif);
}
#footer{
  background: url(../images/footer.gif) no-repeat;
  width: 100%;
  background-size: cover;
}
#footertext{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #BC5252;
  padding-top: 15px;
}
