#locationsnav{
  background: url(../images/navhover.gif);
}
#mapcontainer{
  text-align: center;
}
#locationlist{
  position: relative;
  left: 35%;
  font-family: Arial, Helvetica, sans-serif;
  color: #BFB9B9;
  font-size: 15px;
}
#mapcontainer{
  height: 480px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
#map{
  position: relative;
  top: -55px;
  border: none;
}
