@media only screen and (max-width: 585px){
  .result2{
    height: 33vw;
  }
  .result3{
    height: 43vw;
  }
  .result4{
    height: 50vw;
  }
  .result5{
    height: 55vw;
  }
  .result7{
    height: 62vw;
  }
  .result9{
    height: 70vw;
  }
}
@media only screen and (min-width: 586px){
  .result2{
    height: 200px;
  }
  .result3{
    height: 240px;
  }
  .result4{
    height: 280px;
  }
  .result5{
    height: 320px;
  }
  .result7{
    height: 350px;
  }
  .result9{
    height: 400px;
  }
  .race{
    width: 585px;
  }
}
#resultsheadercontainer{
  width: 100%;
  max-width: 1200px;
  position: fixed;
  top: 57px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBFC9;
}
#resultlinkcontainer{
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: #FFFFFF;
}
.resultlink{
  margin: 3px;
  font-family: "Libre Baskerville";
  text-decoration: none;
  color: #000000;
  display: inline-block;
}
#filler1{
  width: 100%;
  max-width: 1200px;
  height: 50px;
}
#title{
  font-family: "Rubik";
  font-size: 40px;
}
.race{
  display: inline-block;
}
.resultscontainer{
  max-width: 585px;
}
.results{
  width: 100%;
}
.racetitle{
  font-family: "Rubik";
  font-size: 24px;
}
.candidates{
  margin-bottom: 10px;
  width: 100%;
}
.candimgcontainer{
  width: 50px;
  display: inline-block;
}
.candimg{
  width: 100%;
  border-radius: 50%;
}
.candtext{
  color: #000000;
  font-family: "Libre Baskerville";
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
  bottom: 17px;
  margin-left: 5px;
}
.candcontainer{
  width: fit-content;
  display: inline-block;
  margin-right: 20px;
}
