.map{
  height: 500px;
  margin-bottom: 20px;
}
.leaflet-popup-content{
  font-family: "Rubik";
  font-size: 16px;
}
.popup{
  margin-top: 5px;
  margin-bottom: 5px;
}
#precinct{
  font-size: 19px;
}
.margin{
  font-size: 14px;
}
