#title{
  font-size: 40px;
  font-family: "Rubik";
}
#map{
  height: 500px;
  z-index: 1;
}
.leaflet-marker-icon{
  border-radius: 5px;
}
.leaflet-popup-content{
  width: 400px !important;
}
.leaflet-popup-content p{
  font-family: "Rubik";
  margin: 5px;
  font-size: 14px;
}
.leaflet-popup-content .popuptitle{
  font-weight: bold;
  font-size: 16px;
}
.details, .hide{
  color: blue;
  cursor: pointer;
}
.filterbox{
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter{
  cursor: pointer;
}
.filters, .dateselect{
  font-family: "Libre Baskerville";
}
#typefilter{
  width: fit-content;
  position: relative;
}
.filternum{
  display: inline-block;
}
