#info{
  margin-top: 10px;
  border-bottom: 4px groove #8091A6;
}
#introinfo{
  height: 100px;
}
#titlecontainer{
  width: fit-content;
  display: inline-block;
  position: relative;
  bottom: 1.5vw;
  margin-left: 10px;
  height: 97px;
}
#title{
  font-family: "Rubik";
  font-size: 50px;
  display: inline-block;
}
#imgcontainer{
  width: 90px;
  display: inline-block;
}
#candimage{
  border-radius: 50%;
  width: 100%;
}
#geninfo{
  font-family: "Libre Baskerville";
}
.replink{
  text-decoration: none;
  color: blue;
}
#legtitle{
  font-family: "Rubik";
}
.leg{
  font-family: "Libre Baskerville";
}
