@media only screen and (max-width: 900px){
  .status{
    font-size: 13px;
    padding: 0px 2px 0px 2px;
  }
}
@media only screen and (min-width: 900px){
  .status{
    font-size: 15px;
    padding: 0px 5px 0px 5px;
  }
}
#title{
  font-family: "Rubik";
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#backbutton{
  border: 2px double #20124d;
  border-radius: 5px;
  font-family: "Libre Baskerville";
  color: #000000;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
  cursor: pointer;
}
#backbutton a{
  color: #000000;
  text-decoration: none;
}
#legtext{
  font-family: "Libre Baskerville";
  line-height: 1.4;
  margin-bottom: 0;
}
#firstleginfo{
  font-family: "Libre Baskerville";
  border-bottom: 4px groove #8091A6;
}
#firstleginfo a{
  color: blue;
}
#togglesponsors{
  color: blue;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0px;
}
.actiontop{
  margin-bottom: 0px;
}
#sponsors{
  overflow: hidden;
  line-height: 1.4;
}
#sponsors p{
  margin-top: 4px;
  margin-bottom: 4px;
}
#statuscontainer{
  margin-top: 0px;
}
.statusbox{
  width: fit-content;
  display: inline-block;
}
.statustitle{
  width: fit-content;
  display: inline-block;
}
.status{
  width: fit-content;
  display: inline-block;
  border-right: 2px solid #000000;
}
.status:nth-child(2){
  border-left: 2px solid #000000;
}
.current{
  background-color: #20124d;
  padding-right: 4px;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 4px;
}
#legdesc, #actions{
  font-family: "Libre Baskerville";
  line-height: 1.4;
}
.legdesc a{
  color: blue;
  text-decoration: none;
}
#actionstitle{
  font-family: "Rubik";
  font-size: 24px;
  margin-bottom: 0px;
  border-bottom: 3px double #BDBFC9;
}
