<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Libre Baskerville" rel="stylesheet">
    <script type="text/javascript" src="/js/header.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174685284-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-174685284-1');
      </script>
    <title>Error - 209 Politics</title>
  </head>
  <body>
    <div id="content">
      <div id="headercontainer">
        <button type="button" id="sidebar" onclick="sidebar();">&#9776;</button>
        <div id="logocontainer">
          <a href="https://209politics.com/">
            <img src="/images/favicon-horizontal.png" alt="209 Politics" id="logo">
          </a>
        </div>
      </div>
      <div id="sectionscontainer" class="sections">
        <div id="homenavcontainer" class="headernavcontainer">
          <a href="https://209politics.com/" id="latest" class="section">HOME</a>
        </div>
        <div id="latestnavcontainer" class="headernavcontainer">
          <a href="/latest" id="latest" class="section">LATEST</a>
        </div>
        <div id="electionsnavcontainer" class="headernavcontainer">
          <a href="/elections" id="elections" class="section">ELECTIONS</a>
        </div>
        <div id="policynavcontainer" class="headernavcontainer">
          <a href="/policy" class="section">POLICY</a>
        </div>
        <div id="covidnavcontainer" class="headernavcontainer">
          <a href="/covid-19" class="section">COVID-19</a>
        </div>
        <div id="contactnavcontainer" class="headernavcontainer">
          <a href="/contact" class="section">CONTACT US</a>
        </div>
      </div>
      <div id="filler"></div>
      <div id="main">
        <div id="oopscontainer">
          <p id="oops">OOPS! WE COULDN'T FIND YOUR PAGE.</p>
          <a href="https://209politics.com" id="oopslink"><p id="oopshome">Click here to go back home instead.</p>
          </a>
          <div id="brokenlink">
            <p id="brokenlinkinfo">Report a broken link here</p>
            <div id="brokenlinkcontainer">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezH5AjPcFhOH6vEpR_KlCj2UE4xhZTC472AteHBP_Ui7oF_Q/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" id="brokenlinkform">Loading…</iframe>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div id="footer">
        <p id="socialmediafooter">
          <a href="https://twitter.com/209Politics" id="twitterfooter" class="sociallinkfooter">Twitter: @209politics</a> •
          <a href="https://www.instagram.com/209.politics/" id="instagramfooter" class="sociallinkfooter">Instagram: @209.politics</a> •
          <a href="https://www.facebook.com/209-Politics-115850523551245/" id="facebookfooter" class="sociallinkfooter">Facebook: 209 Politics</a>
        </p>
        <p id="navfooter">
          <a href="https://209politics.com/" id="homenavfooter" class="navfooter">Home</a> •
          <a href="/latest" id="latestnavfooter" class="navfooter">Latest</a> •
          <a href="/elections" id="electionsnavfooter" class="navfooter">Elections</a> •
          <a href="/policy" id="policynavfooter" class="navfooter">Policy</a> •
          <a href="/covid-19" id="covidnavfooter" class="navfooter">COVID-19</a> •
          <a href="/contact" id="contactnavfooter" class="navfooter">Contact us</a>
        </p>
      </div>
    </div>
  </body>
</html>
