/*----------------------------------------------------------------------------
	colorscheme.css for colorscheme 5

	this css-file contains all definitions, that depend on the colorscheme.

	(c) Schlund + Partner AG
----------------------------------------------------------------------------*/

/*-- main container --------------------------------------------------------*/

#container {
    background: repeat-y;
    background-image: url(images/static/contentbg.gif);
}

/*--- header ---------------------------------------------------------------*/

#header {
    background: no-repeat;
    background-image: url(images/static/headerbg.jpg);
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    background: repeat-y;
    background-image: url(images/static/navbg.gif);
}

/*--- sub navigation -------------------------------------------------------*/

.sub_nav_container {
    /*background: url(images/static/subnavbg.gif) no-repeat;*/

}

/*--- key visiual ----------------------------------------------------------*/

#key_visual {
    background: no-repeat;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat;
}

/*--- caption --------------------------------------------------------------*/

/*--- main navigation ------------------------------------------------------*/

/*--- main navigation items ------------------------------------------------*/

a.main_nav_item {
    background: repeat-x;
    background-position: top left;
}

a.main_nav_item:hover {
    background: repeat-x;
    background-position: top left;
}

a.main_nav_active_item {
    background: repeat-x;
    background-position: top left;
}

/*--- subnavigation items --------------------------------------------------*/

a.sub_nav_item {
    background: repeat-x;
    background-position: top left;
}

a.sub_nav_item:hover {
    background: no-repeat;
    background-position: top left;
}

a.sub_nav_active_item {
    background: no-repeat;
    background-position: top left;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    background: no-repeat;
    background-image: url(images/static/footerbg.gif);
}

/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
    color: #BFB9B9;
    background: #6B3332 repeat-x;
    background-image: url(images/static/body_bg.jpg);
}

/*--- paragraph ------------------------------------------------------------*/

.content {
    color: #BFB9B9;
}

.content table {
    color: #BFB9B9;
    border-color: #D74542;
}

.content select {
    color: #BFB9B9;
}

.content input {
    color: #BFB9B9;
    border-color: #D74542;
    background-color: #D6A5A5;
    color: #330100;
}

.content textarea {
    color: #BFB9B9;
    border-color: #D74542;
    background-color: #D6A5A5;
    color: #330100;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content th {
    color: #E7E2E2;
    background-color: #AC4444;
}

.content tr.odd {
    color: #BFB9B9;
    background-color: #A65252;
}

.content tr.even {
    color: #BFB9B9;
    background-color: #7C1F1F;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    border-color: #E7E2E2;
}

.content legend {
    color: #BFB9B9;
}

.content label {
    color: #BFB9B9;
}

/*--------------------------------------------------------------------------*/

