@media only screen and (max-width: 667px){
  iframe{
    height: 481vw;
  }
}
@media only screen and (min-width: 668px){
  iframe{
    height: 115vw;
    max-height: 1350px;
  }
}
#title{
  font-family: "Rubik";
  font-size: 50px;
}
#imgcontainer{
  width: 90px;
  display: inline-block;
}
#candimage{
  border-radius: 50%;
  width: 100%;
}
#canddistrict{
  font-family: "Libre Baskerville";
  font-size: 20px;
  display: inline-block;
  position: relative;
  bottom: 2vw;
  margin-left: 10px;
  max-width: calc(100vw - 120px);
}
#datainfo{
  font-family: "Libre Baskerville";
  margin-top: 0px;
  font-size: 16px;
}
#datacontainer{
  display: inline-block;
  width: 100%;
}
iframe{
  width: 100%;
}
#codecontainer{
  width: fit-content;
}
.code{
  font-family: "Libre Baskerville";
}
#codetitle{
  font-family: "Libre Baskerville";
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-bottom: 5px groove #8091A6;
}
#datainfo{
  font-family: "Libre Baskerville";
  margin-top: 0px;
  font-size: 16px;
}
#datacontainer{
  display: inline-block;
  width: 100%;
}
