@media only screen and (max-width: 603px){
  .sectioncontainer{
    display: inline;
    margin: auto;
  }
}
@media only screen and (min-width: 604px){
  .sectioncontainer{
    display: inline-grid;
  }
}
#title{
  font-family: "Rubik";
  font-size: 50px;
}
#links{
  font-family: "Libre Baskerville";
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
.link{
  text-decoration: none;
  color: #000000;
}
.candtitle{
  font-family: "Rubik";
  text-align: center;
  margin: auto;
  font-size: 40px;
  border-bottom: 5px groove #8091A6;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
}
.candimgcontainer{
  width: 50px;
  display: inline-block;
}
.candimg{
  width: 100%;
  border-radius: 50%;
}
.candtextcontainer{
  display: inline-block;
  position: relative;
  bottom: 7px;
  margin-left: 5px;
}
.candtext{
  color: #000000;
  font-family: "Libre Baskerville";
  margin-bottom: 3px;
}
.canddistrict{
  color: #000000;
  font-family: "Libre Baskerville";
  font-size: 14px;
  margin-top: 0px;
}
.candcontainer{
  width: fit-content;
  display: inline-block;
  margin-right: 20px;
}
.financeref{
  text-decoration: none;
}
.sectioncontainer{
  width: 100%;
}
.smalltitle{
  margin: auto;
  text-align: center;
  font-family: "Rubik";
  font-size: 25px;
  cursor: pointer;
  width: 100%;
}
.smallcontainer{
  display: inline-grid;
  width: 100%;
}
.subcontainer{
  width: 100%;
}
.collapsibletitle{
  margin-bottom: 10px;
}
.smalltitle:before{
  color: #000000;
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 7px;
}
.bigcollapsibletitle:before{
  color: #000000;
  content: "\02795";
  font-size: 13px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 17px;
}
.collapsecontainer.smallcontainer:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 10px;
  border-top: 3px double #BDBFC9;
}
.collapsible{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.active:before{
  content: "\2796";
}
#cands{
  margin: auto;
}
#all{
  cursor: pointer;
  font-family: "Libre Baskerville";
  font-size: 22px;
  background-color: #FFFFFF;
  color: #20124d;
  border: 2px double #20124d;
  border-radius: 4px;
}
